*{
	padding: 0px;
	margin: 0px;
}
html{
	scroll-behavior: smooth;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.7em;

}
h1, h2, h3, h4, h5, h6{
	font-family: 'Montserrat', sans-serif;
}
a, a:hover{
	text-decoration: none;
}
.header{
	width: 100%;
	padding: 10px 0px;
	background: #fff;
}
.header .navbar-expand-lg .navbar-nav .nav-link{
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #28377e;
	letter-spacing: 1px;
	margin: 0px 0px 0px 25px;
	transition: 1s;
}
.header .navbar-expand-lg .navbar-nav .nav-link:hover, .header .navbar-expand-lg .navbar-nav .nav-link:focus{
	color: #f2622c;
}
.slider{
	width: 100%;
	padding: 80px 0px;
	background: url("../images/slider.png") center top no-repeat;
	background-size: cover;
}
.inner-slider{
	width: 100%;
	padding: 125px 0px 0px;
	text-align: center;
}
.inner-slider h1{
	font-size: 52px;
	line-height: 1.2em;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
}
.arrow{
	width: 100%;
	padding: 130px 0px 0px;
}
/*global css for title*/
.title{
	width:100% ;
	padding: 0px 0px 20px;
}
.title h1{
	font-size: 48px;
	line-height: 1.2em;
	font-weight: 700;
	text-transform: uppercase;
	color: #28377e;
}

/*global css for title*/


.who-we-are{
	width: 100%;
	padding: 100px 0px;
}
.who-we-are .title{
	margin: 60px 0px 0px;
}
.who-we-are p{
	font-size: 14px;
	line-height: 1.7em;
	color: #b0b0b1;
}
.what-we-do{
	width: 100%;
	padding: 80px 0px;
	background: url("../images/whatdo.png") center top no-repeat;
	background-size: cover;
}
.what-we-do .title{
	text-align: center;
	width: 100%;
	padding: 0px 0px 0px;
}
.what-we-do .card{
	border: 0px;
	border-radius: 0px;
}
.what-we-do .card .card-img-overlay{
	text-align: center;
}
.what-we-do .card .card-img-overlay .card-title{
	position: absolute;
	top: 50%;
	left: 15%;
	width: 70%;
	font-size: 22px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	line-height: 1.4em;
}
.what-we-do .card .card-img-overlay .long-arrow{
	position: absolute;
	bottom: 15%;
	left: 45%;
}
.our-attorney{
	width: 100%;
	padding: 115px 0px 80px;
	background: url("../images/atbg.png") center top no-repeat;
	background-size: cover;
}
.our-attorney .title{
	padding: 110px 0px 0px;
}
.our-attorney .title h1{
	color: #fff;
}
.our-attorney p{
	font-size: 14px;
	line-height: 1.7em;
	color: #929dcf;
}
.our-attorney .btn-link{
	padding: 0px;
	text-decoration: none;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #f2622c;
	letter-spacing: 1px;
}
.our-attorney .card{
	border: 0px;
	border-radius: 0px;
	margin: 0px 0px 25px;
}
.our-attorney .card .card-img{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.our-attorney .card .card-title{
	position: absolute;
	bottom: 8%;
	left: 8%;
	font-size: 22px;
	line-height: 1.4em;
	color: #fff;
}
.language{
	width: 100%;
	padding: 80px 0px;
}
.language .title{
	padding: 0px 0px 80px;
	text-align: center;
}
.inner-language{
	width: 100%;
}
.inner-language h4{
	font-size: 22px;
	line-height: 1.3em;
	color: #28377e;
}
.inner-language p{
	font-size: 14px;
	line-height: 1.7em;
	color: #b0b0b1;
}
.inner-language .btn-link{
	padding: 0px;
	text-decoration: none;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #f2622c;
	letter-spacing: 1px;
}
.login-box{
	width: 100%;
	padding: 115px 0px 80px;
	margin: 0px auto;
	background: url("../images/atbg1.png") center top no-repeat;
	background-size: cover;
}
.login{
	width: 100%;
	
}
.Contact-Us{
	text-align: center;
}

.footer{
	width: 100%;
	float: left;
	padding: 15px 0px;
	background: #0c1234;
    text-align: center;
}
.footer p{
	font-size: 14px;
	line-height: 1.7em;
	color: #616ca8;
}
